
<head>
<style>
body {
  background-color:#ccc;
}
</style>
</head>
<body >
  <div ng-init="load_message()" class="container">
  

  
    <div class="row">
      <div class="col-md-12">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">

            <div class="panel panel-primary" >
              <div class="panel-heading" style="padding:0 0 0 8px;">
                <span class="glyphicon glyphicon-user"></span>
                <h6 class="panel-title" style="display:inline;">Chat</h6>
                <div class="btn-group btn-group-xs pull-right">
                  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-lock"></span></button>
                  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></button>
                  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body" style="padding:0 4px;">
                <div class="row">
                  <div class="col-xs-12" style="max-height:300px;max-width:100%;overflow-y:auto;overflow-x:hidden;">
                    <table class="table table-hover table-condensed" style="">
                      <tr ng-show="message.length >= 1" ng-repeat="msgs in message |  orderBy:'msgs.date_time':true" style="min-width:100%;max-width:100%;width:100%;">
                        <td><img src="{{chat.icon}}" alt="" style="margin-top:8px;"/></td>
                        <td>
                          <h6 ng-if="currentUser.id != message[$index][0]">{{message[$index][0]}}</h6>
                          <h6 ng-if="currentUser.id == message[$index][0]">Me</h6>
                        </td>
                        <td>
                        <p class="word-wrap:break-word"><small>{{message[$index][3]}}</small></p>
                        <p>Time: {{message[$index][2]| date:'HH:mm'}}</p>
                        </td>
                      </tr>
                      <tr ng-show="message.length === 0">
                        <td>
                          <p>Nothin' here. <strong>Say something!</strong></p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <form>
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                      <img src="http://placehold.it/16x16" alt="" />
                    </span>
                    <input type="text" class="form-control" ng-model="newChatMsg" placeholder="..."/>
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit" ng-click="addChat()">Send</button>
                    </span>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</body>