<div class="container" ng-controller="friendController as ctrl">

	<p>
	<p>
	<p>
	<p>
	
	<p>
	<p>
	<p>
	<p>
	
	<div class="form-group has-feedback"></div>

  Search

  <p><input type="text" ng-model="sear_text"></p>


	<div ng-repeat="user in users | filter: sear_text">

		<fieldset>
			<legend></legend>
			
			<!-- <p>Online ?: {{user.isOnline}}   -->

			<p>ID: {{user.id}} &nbsp; &nbsp;&nbsp; Name: {{user.name}}
			    &nbsp; &nbsp;&nbsp; 
			    
			     <button type="button" 
			        ng-click="ctrl.sendFriendRequest(user.id)" 
			       class="btn btn-info btn-sm">Send Friend Request</button>
			  </p>

			<p>Email: {{user.email}} &nbsp; &nbsp;&nbsp; Mobile:{{user.mobile}}</p>

			<p> Address:{{user.address}} &nbsp; &nbsp;&nbsp; Role :{{user.role}}</p>
		</fieldset>
	</div>


</div>


